<div class="container mt-5">
  <h2 class="text-center mb-4">Hotel Ginebra Sincelejo</h2>
  <h4 class="text-center mb-4">Comodidad y confort a su alcance</h4>

  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">QUIENES SOMOS</h5>
          <p class="card-text">
            Somos una empresa dedicada a ofrecer servicio de hospedaje con excelencia, creando clientes satisfechos que se han frecuentes su visita al hotel por su calidad, ya que ellos contribuyen al mejoramiento de prestar un mejor servicio.
            <br><br>
            HOTEL GINEBRA, es el resultado del proceso de un perfeccionamiento Empresarial y Hotelero, en la Ciudad de Sincelejo - Sucre, ciudad pujante de una economía sostenible y de proyección de crecimiento.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">MISIÓN</h5>
          <p class="card-text">
            Ofrecemos hospedaje con excelencia, creando la satisfacción de cada huesped por la calidad y servicio que ofrecemos, ya que estos constituyen la clave del éxito y la mutua relación entre el cliente y la empresa.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">VISIÓN</h5>
          <p class="card-text">
            Lograremos ser un hotel con mayor solidez, innovación y calidad en el servicio mediante la satisfacción del cliente.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
