<div class="container mt-5">
  <h2 class="text-center mb-4">Ubicación</h2>
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3876.356900332066!2d-75.60623168561784!3d10.417472567567333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef62b9e5e2a2d4b%3A0x9112ec5e5e1f827b!2sCalle%2020%2C%20Sincelejo%2C%20Sucre%2C%20Colombia!5e0!3m2!1sen!2sus!4v1622734293914!5m2!1sen!2sus"
          width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <div class="card-body">
          <h5 class="card-title">Nuestra Ubicación</h5>
          <p class="card-text">
            Calle 20 # 24 31<br>
            PBX. 57 (5) 2741551<br>
            Celular: 57 (300) 7574570<br>
            E-mail: reservas@hotelginebrasincelejo.com<br>
            hotelginebrasincelejo@hotmail.com
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Información de Conexiones</h5>
          <p class="card-text">
            El Hotel se encuentra ubicado a 14 kilómetros de distancia del Aeropuerto las brujas el cual está ubicado en el Municipio de Corozal.
          </p>
          <p class="card-text">
            Tiene una ubicación estratégica del corredor artesanal de los municipios de Morroa, Chinú, Sampues, Coloso del Departamento de Sucre.
          </p>
          <p class="card-text">
            Ubicado aproximadamente 46 kilómetros del Golfo de Morrosquillo.
          </p>
          <p class="card-text">
            A 27 kilómetros de las cuevas del municipio de Tolú viejo.
          </p>
          <p class="card-text">
            A 111 kilómetros del Aeropuerto Los Garzones de la ciudad de Montería en el Departamento de Córdoba.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Sitios de Interés</h5>
          <div class="d-flex justify-content-between">
            <ul class="list-unstyled">
              <li>Gobernación del Departamento de Sucre</li>
              <li>Centro Comercial Viva</li>
              <li>Fototeca municipal de Sincelejo</li>
              <li>Teatro Municipal</li>
            </ul>
            <ul class="list-unstyled">
              <li>Biblioteca Departamental de Sucre</li>
              <li>Catedral San Francisco de Asís</li>
              <li>Parque Santander</li>
              <li>Plaza Cultural de Majagual</li>
              <li>Parque de los Periodistas</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
