<div class="container mt-5">
  <h2 class="text-center mb-4">Contáctenos</h2>

  <div class="row justify-content-center">
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Contacto</h5>
          <p class="card-text">
            Calle 20 # 24 31<br>
            PBX. 57 (5) 2741551 2815534<br>
            Celular: 57 (300) 7574570<br>
            E-mail: reservas@hotelginebrasincelejo.com<br>
            hotelginebrasincelejo@hotmail.com
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
