<div class="container mt-5">
  <h2 class="text-center mb-4">Contáctenos</h2>

  <div class="row justify-content-center">
    <div class="col-md-6 mb-4">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <div class="text-center">
            <!-- Icono para contacto -->
            <i class="fas fa-address-book fa-3x mb-3 text-primary"></i>
            <h5 class="card-title">Contacto</h5>
          </div>
          <p class="card-text text-justify">
            Calle 20 # 24 31<br>
            PBX. 57 (5) 2741551 2815534<br>
            Celular: 57 (300) 7574570<br>
            E-mail: <a href="mailto:reservas&#64;hotelginebrasincelejo.com">reservas&#64;hotelginebrasincelejo.com</a><br>
            <a href="mailto:hotelginebrasincelejo&#64;hotmail.com">hotelginebrasincelejo&#64;hotmail.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
