<footer class="bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Hotel Ginebra Sincelejo</h5>
        <p>
          PBX: 57 (5) 2741551 <br>
          Celular: 57 (300) 7574570
        </p>
      </div>
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Síguenos</h5>
        <a href="https://web.facebook.com/profile.php?id=100089946656538" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/hotel_ginebra?utm_source=qr&igsh=ZWc2MWE5Z2hhY3c5" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <span>Copyright © VirtualNet 2024</span>
  </div>
</footer>
